<div class="page-container">
  <div class="sobre-container">
    <span>Esse não é o spotify querida, mas tem uma música muito especial</span>
    <span>Por que não escuta amor?</span>
  </div>
  <div class="music-container">
    <img class="music-capa" src="'../../../../assets/images/minha_flor.jpeg">
    <div class="music-title-container">
      <h2>Tendendo ao Infinito</h2>
      <span>Uma produção de uma pessoa muito apaixonada</span>
      <span>Gravado pela banda Morulla &copy;</span>
    </div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ver Letra
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
          Meu amor
          <br>
          Eu queria estar
          <br>
          Bem perto de ti
          <br>
          Agora e pra sempre
          <br>
          <br>
          Seja vasco ou liverpool
          <br>
          Por vc torço pra qualquer um
          <br>
          Seja Alok ou outro DJ
          <br>
          Por vc faço ate o que eu nao sei
          <br>
          <br>
          Meu amor
          <br>
          O seu sonho tbm é meu
          <br>
          E mal posso esperar
          <br>
          Pela praia que vc me prometeu
          <br>
          <br>
          E se tem algo que eu digo
          <br>
          Que vc acha bonito
          <br>
          É que eu amo vc tendendo
          <br>
          Ao limite superior de x
          <br>
          Tendendo ao infinito
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <audio [src]="songRef" controls></audio>
  </div>
</div>
