<div class="background">
  <div class="rose-container">
    <mat-card class="declaracao-container">
      <mat-card-content>
        Meu amor, meu coração está com você a todo momento e todo dia eu
        me vejo pensando em você, desejando tudo de bom que o mundo pode e não pode dar e todo o meu amor e confiança incondicional.
       <br>
       <br>
        O meu amor não pode ser expresso em palavras, mas prometo todo dia te amar e sempre me apaixonar de novo a cada novo dia.
        Minha vida é outra com você aqui para compartilhar e tudo que eu mais quero é passar a eternidade ao seu lado.
        Nossa vida juntos será repleta de companheirismo, amor, paixão, risadas e gratidão.
        Você é uma das pessoas com mais garra que conheço e merece tudo e mais um pouco e vou acompanhá-la através de cada empreitada que você
        quiser ir atrás tendo sempre minha confiança e apoio, porque você vai conquistar o mundo!
        Você é incrível querida e te amo muito do jeitinho que você é! Te amo mais que tudo e você é a pessoa mais especial que existe pra mim,
        E vou tentar ser a pessoas mais perfeita que existe no universo para merecer seu amor e andar ao seu lado.
        <br>
        <br>
        Vou com você a todo jogo do Vasco, mesmo não torcendo pro time, mas vai ser como se fosse meu time desde criancinha, porque é o seu time querida.
        Vamos ver cada jogo do Liverpool abraçadinhos e comemorando/xingando cada jogador em cada lance, mas amando o clube acima de tudo.
        Vou escutar cada música do Alok juntinho de você e admito que assim que você disse que gostava dele e o seu sonho era ir a um show dele a primeira coisa
        que fiz foi procurar pelos próximos shows dele para realizar seu sonho, porque o seu sonho também é o meu sonho e é meu sonho realizar os todos os seus
        e ver você feliz e contente sempre.
        <br>
        <br>
        O que eu tentei sintetizar aqui é:
        Eu te amo mais do que as palavras são capazes de se expressar e cada palavra aqui dita foi uma tentativa de me aproximar da dimensão e da realidade do meu amor
        e orgulho por você e pela mulher incrível que é.
        Vou amar cada pedacinho seu tendendo ao limite superior de x tendendo ao infinito a cada novo dia e cada manhã, tarde e noite.
      </mat-card-content>
    </mat-card>
    <br>
    <br>
    <mat-card class="tempo-juntos">
      <h2>Já estamos juntos há: {{ anos }} anos ou {{ meses }} meses ou {{ dias }} dias</h2>
      <h2>{{ tempoRestante }}</h2>
    </mat-card>
    <div class="sobre-hoje">
      <section>
        Fiz uma música para tentar expressar o meu amor por ti em todos os momentos:
        <button (click)="takeToSpotify()">Ver sua música</button>
      </section>
    </div>
    <div class="final">
      <h2>Te amo três mil querida</h2>
      <div id="background"></div>
      <div id="chest">
        <div class="heart left side top"></div>
        <div class="heart center">&hearts;ddd</div>
        <div class="text">
          Janice
          <br />
          <span>&amp;</span>
          <br />Matheus</div>
        <div class="heart right side"></div>
      </div>
      <!-- <img src="../assets/images/love-bear.png"> -->
    </div>
  </div>
</div>
